<%- include("templates/header") %>

<div class="container-fluid">
  <h1 style="text-align: center">Welcome, <%= username %>!</h1>
</div>
<div class="container-fluid">
  <h2 style="padding-left: 5%">Users</h2>
</div>

<div class="container">
  <% users.forEach(user => { %>
    <%- include("templates/user", { user: user }) %>
  <% }) %>
</div>

<%- include("templates/footer") %>


